<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>vhome</display-name>
  <welcome-file-list>
    <welcome-file>init.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>MySQL DBCP</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
   <!-- 自定义404页面 -->
  <error-page> 
  <error-code>404</error-code> 
  <location>/404.jsp</location> 
  </error-page> 
  <!-- servlet资源访问设置默认处理 -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.mp4</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <!-- 添加对woff和ttf的支持 -->
	<url-pattern>*.woff</url-pattern>
	<url-pattern>*.ttf</url-pattern>
    
  </servlet-mapping>
</web-app>